
.icon-activity:before { content: '\e800'; } /* '' */
.icon-back-to-top:before { content: '\e801'; } /* '' */
.icon-bookmark---filled:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-change:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e80a'; } /* '' */
.icon-clubpoints:before { content: '\e80b'; } /* '' */
.icon-currency:before { content: '\e80c'; } /* '' */
.icon-earth:before { content: '\e80d'; } /* '' */
.icon-eu-plug-f:before { content: '\e80e'; } /* '' */
.icon-eu-plug-g:before { content: '\e80f'; } /* '' */
.icon-experience:before { content: '\e810'; } /* '' */
.icon-filter:before { content: '\e811'; } /* '' */
.icon-flight:before { content: '\e812'; } /* '' */
.icon-heart:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-menu:before { content: '\e815'; } /* '' */
.icon-notes:before { content: '\e817'; } /* '' */
.icon-pin:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-poi:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-tick:before { content: '\e81c'; } /* '' */
.icon-ticket:before { content: '\e81d'; } /* '' */
.icon-time:before { content: '\e81e'; } /* '' */
.icon-tour:before { content: '\e81f'; } /* '' */
.icon-transportation:before { content: '\e820'; } /* '' */
.icon-traveller:before { content: '\e821'; } /* '' */
.icon-user-group:before { content: '\e822'; } /* '' */
.icon-volts:before { content: '\e823'; } /* '' */
.icon-warning:before { content: '\e824'; } /* '' */
.icon-chevron-up:before { content: '\e825'; } /* '' */
.icon-chevron-right:before { content: '\e826'; } /* '' */
.icon-chevron-down:before { content: '\e827'; } /* '' */
.icon-chevron-left:before { content: '\e828'; } /* '' */